<div class="container">

<form>
  <div class="form-group">
    <label for="sub-to-scrape">Subreddit to scrape from</label>
    <input class="form-control" id="sub-to-scrape" placeholder="Enter subreddit to scrape from">
  </div>
  
  <button type="submit" id="sub-submit" class="btn btn-primary">Submit</button>
</form>

</div>